<ion-view view-title="{{activities.title}}">
<ion-nav-buttons side="right">
<button class="button icon ion-ios-upload-outline" ng-click="exportCSV()">
  Export
</button>
</ion-nav-buttons>
  <ion-content class="padding">
    <!-- <img ng-src="{{activities.face}}" style="width: 64px; height: 64px"> -->
    <p>
      ผู้จัด : {{activities.owner}}<br>
      เริ่มกิจกรรม : {{activities.date_start}}<br>
      จบกิจกรรม : {{activities.date_end}}<br>
      สถานที่ : {{activities.place}}<br>
      จำนวนผู้เข้าร่วม : {{activities.student_max}}
    </p>

    <div class="list list-inset">
      <div class="item" ng-repeat="ins in listOfJoined">
        {{ins.std_id}} <span style="position: absolute; right: 0; padding-right:16px">{{ins.date}}</span>
      </div>
    </div>

  </ion-content>
</ion-view>
