<ion-view view-title="Check-in">
  <ion-content>
    <div class="card">
    	<div class="item">
    		<button class="button button-block button-large button-positive" ng-click="scan()">
    			<i class="icon ion-qr-scanner"></i> Scan Now
    		</button>
    		<div style="text-align: center">Or</div>
    		<button class="button button-block button-primary" ng-click="insertManual()">
    			<i class="icon ion-ios-compose-outline"></i> Insert manual
    		</button>
    	</div>
    </div>

    
    <div class="card list">
      <label class="item item-input item-select">
            <div class="input-label">Activity</div>
            <select ng-model="data.repeatSelect">
                <option ng-repeat="option in data.availableOptions" value="{{option.id}}">
                    {{option.name}}
                </option>
            </select>
      </label>
    </div>
    <!-- {{data.repeatSelect}} -->
    

    <div class="card">
    	<div class="item item-divider">Scan Results</div>
    	<div class="item item-text-wrap"><span ng-bind-html="scanResults"></span>
    	</div>
    </div>
    <button class="button button-block button-balanced" ng-click="save()" ng-show="scanResults != 'No data'">
    	<i class="icon ion-android-done"></i> {{saveText}}
    </button>
  </ion-content>
</ion-view>
